.rodape{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    position: absolute;
    margin-top: 4rem;
    /* bottom: 0; */
}
.rod {
    display: flex;
    justify-content: space-between;
    color: white;
    list-style: none;
    width: 120vh;
}
.linkContato{
    display: flex;
    justify-content: space-between;
    color: white;
    list-style: none;
    width: 15vh;
}
.listContato {
    display: flex;
    align-items: center;
}
@media (max-width: 668px) {
  .rod{
    display: inline;
    width:auto;
  }
  .rod > li {
    margin-bottom: 2rem;
  }
}