.sobremim{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.titleSobreMim{
    color: white;
}
.textosSobreMim{
    text-align: left;
}
.caixaLinhaTempo{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
}
.linhaTempo { 
    width: 10%;
    transform: rotate(270deg);
 } 
.textoSobre, .anoSobre{
    transform: rotate(90deg);
    color: white;
}
.css-1ami7lv-MuiTimelineConnector-root{
    width: 6px !important;
}
.css-v6mo1y-MuiTimelineDot-root{
    margin: 0 !important;
}
.css-w6t25c-MuiTypography-root-MuiTimelineContent-root {
    padding: 25px 19px !important;
}